<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Box icons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">


	<title>mlc_analytics</title>
</head>
<body>


	<!-- SIDEBAR -->
	<section id="sidebar" class="hide">
		<a href="#" class="brand">
			<i class='bx bxs-smile'></i>
			<span class="text">mlc</span>
		</a>
		<ul class="side-menu top">
			<li class="active">
				<a href="{{url_for('home')}}">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Начало</span>
				</a>
			</li>
			<li>
				<a href="{{url_for('F1')}}">
					<i class='bx bxs-doughnut-chart' ></i>
					<span class="text">Классификация</span>
				</a>
			</li>
			<li>
				<a href="{{url_for('RMSE')}}">
					<i class='bx bxs-doughnut-chart' ></i>
					<span class="text">Регрессия</span>
				</a>
			</li>
			<li>
				<a href="{{url_for('analys')}}">
					<i class='bx bxs-doughnut-chart' ></i>
					<span class="text">Аналитика</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Декомпозиция Кейса</h1>
				</div>
			</div>

			<ul class="box-info">
				<li>
					<span class="text">
						<h3>Feature-инжениринг<br>

						</h3>
						<p>Отбор факторов и генерация новых признаков.</p>
					</span>
				</li>
				<li>
					<span class="text">
						<h3>Математическое моделирование</h3>
						<p>Выбор модели и подбор гиперпараметров</p>
					</span>
				</li>
				<li>
					<span class="text">
						<h3>Визуализация и аналитика<br>
						</h3>
						<p>Оценка метрик, рефакторинг и переподбор гиперпараметров</p>
					</span>
				</li>
			</ul>
			
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	

	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>